body{
    padding-top: 5rem;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

img {
    width: 50%;
    height: auto;
}
.title{
    font-size: larger;
    font-weight: bolder;
    color: darkblue;
}
.author{
    font-size: large;
    font-weight: bold;
    color: crimson;
}
button{
    margin: 1rem 3rem;
    width: 10rem;
    color: rgb(246, 247, 248);
    background-color: #333333;
    border-radius: 15px;
    height: 3rem;
    font-size: larger;
}
#userInput{
    border: none;
    border-bottom: #333333 solid 2px;
}
